.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(99, 237, 255);
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.container{
  background-image: url("assets/Backgroundlogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin:0;
  padding:0;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2569fb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation {
    overflow: hidden;
    padding-top: 10px;
    background-color: #333;
    height: auto;    
  }

  .navigation h1{
    float: left;
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}
  
  .navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navigation a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .navigation .icon {
    display: none;
  }
  
  .navigation-right {
    float: right;
  }

  @media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}